.swiper-wrapper {
    padding: 25px 0 45px;
    margin-bottom: 35px;
    background: #f6f6f6;
    border-radius: 0 0 100% 100%;
}

.swiper-container {
    position: relative;
    width: 725px;
    height: 301px;
    margin: 0 auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    perspective: 1200px;
    -webkit-transform-style: flat;
    -moz-transform-style: flat;
    transform-style: flat;
}

.swiper-item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 6px 10px #999;
    border-radius: 8px;
    opacity: 0;
    z-index: 1;
    transition: transform .3s;
}

.swiper-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.swiper-item:before {
    position: absolute;
    display: block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .3);
    z-index: 1;
}

.swiper-curItem {
    -webkit-transfrom: rotateY(0deg) translateZ(44px);
    -moz-transfrom: rotateY(0deg) translateZ(44px);
    transform: rotateY(0deg) translateZ(44px);
    z-index: 30;
}

.swiper-preItem {
    -webkit-transfrom: rotateY(30deg);
    -moz-transfrom: rotateY(30deg);
    transform: rotateY(30deg);
    z-index: 10;
}

.swiper-nextItem {
    -webkit-transfrom: rotateY(-30deg);
    -moz-transfrom: rotateY(-30deg);
    transform: rotateY(-30deg);
    z-index: 10;
}

.swiper-curItem.swiper-item:before {
    display: none;
}

/* 进度条 */
.swiper-dots {
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 6px auto;
    z-index: 50;
    -webkit-transform: translateX(-50%) translateZ(46px);
    transform: translateX(-50%) translateZ(46px);
    list-style: none;
}

.swiper-dots li {
    float: left;
    margin: 0 3px;
    background: white;
    width: 13px;
    height: 8px;
    border-radius: 4px;
    transition: width .3s;
}

.swiper-dots li.active {
    width: 24px;
    background: red;
}

/* 前进后退按钮 */
.swiper-btn {
    display: none;
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    z-index: 30;
    background: black;
}

.goPrev-btn {
    left: -30%;
}

.goNext-btn {
    left: 130%;
    margin-left: -50px;
}