.swiper-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 0 auto;
    perspective: 1200px;
}

.swiper-item {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.swiper-curItem {
    transition: transform .15s linear;
}

.swiper-nextItem,
.swiper-preItem {
    transition: transform .15s linear;
}

.swiper-item:before,
.swiper-nextItem:before,
.swiper-preItem:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.swiper-curItem.swiper-item:before {
    display: none;
}

.swiper-dots {
    overflow: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 6px auto;
    z-index: 50;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    list-style: none;
}

.swiper-dots li {
    float: left;
    margin: 0 3px;
    background: white;
    width: 13px;
    height: 8px;
    border-radius: 4px;
    transition: width .15s;
}

.swiper-dots li.active {
    width: 24px;
    background: red;
}

.swiper-btn {
    position: absolute;
    top: 50%;
    height: 50px;
    width: 50px;
    margin-top: -25px;
    z-index: 30;
    background: black;
}

.goPrev-btn {
    left: -30%;
}

.goNext-btn {
    left: 130%;
    margin-left: -50px;
}